.example-card {
  width: 250px;
  padding: 35px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.example-header-image {
  background-size: cover;
}

.row {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.row:last-child {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}

.score {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  gap: 10px;
}

.score-container{
  display: flex;
  gap: 5px;
}

.halftime-score {
  font-size: small;
}
